@charset "UTF-8";

/* Elements */

nav {
    position: fixed;
    width: 7%;
    height: 100%;
    background-color: #999;
    right: 0;
    z-index: 10;
    padding: none;
    display: table;
}

nav > ul {
    margin: 0 10px;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

nav > ul > li {
    text-align: center;
    margin: 50px 0px;
    font-family: 'Nunito Sans';
}

nav > ul > li > a {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 1.25em;
}

nav > ul img {
    width: 64px;
}

nav > ul span {
    visibility: hidden;
    opacity: 0;
    transition: .25s;
    font-weight: bold;
}

nav > ul > li:hover span {
    transition: .25s ease-out;
    visibility: visible;
    opacity: 1;
}

/* Classes and Ids */

.titleCont {
    margin: none;
    color: #f2f2f2;
    width: 93%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #1b1b1b;
    /*
    animation-name: bkgBreathe;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    */
}
.sigBox {
    position: relative;
    height: auto;
    width: 26%;
    margin: auto;
    overflow: auto;
    border-color: #FFF;
    border: 2px;
}
.sigBox img {
    width: 100%;
    margin: 0;
    font-size: 5em;
    filter: invert(100%);
    pointer-events: none;
}
.sigBox hr {
    align-self: center;
    width: 80%;
    margin: 0 auto;
    color: #FFF;
}
.sigBox div {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-size: 1.125em;
    margin-top: 15px;
}
.sigBox a {
    transition: .25s;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
.sigBox a:hover {
    transition: .25s;
    color: #00B7c7;
}
/* Keyframes and Animation */

@keyframes bkgBreathe {
    from {background-color: rgb(63,82,99);}
    to {background-color: rgb(86,107,125);}
}
