@charset "UTF-8";
/* Color Candidates:
    #3F5263 -> washed-out blue
    #00B7C7 -> neon blue
    #00AE5B -> leaf green
    #F2F2F2 -> eggshell
    #1B1B1B -> DARK grey
    #0F1E2C -> dark blue
*/

/* Elements */

html, body {
    font-family: 'Slabo 27px', serif;
    width: 100%;
    height: 100%;
    margin: 0;
}
footer {
    text-align: center;
    box-sizing: border-box;
    width: 93%;
    padding: 20px;
    position: relative;
    display: block;
    background-color: #444;
    color: #FFF;
    border-top: solid #00AE5B;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
    color: #F2F2F2;
}
p {
    color: #FFF;
    width: 75%;
}
nav {
    position: fixed;
    width: 7%;
    height: 100%;
    background-color: #0F1E2C;
    right: 0;
    top: 0;
    z-index: 10;
    padding: none;
    display: table;
    box-shadow: -3px 0px 5px rgba(0,0,0,0.5);
}
nav > ul {
    position: sticky;
    margin: 0 10px;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    background-color: #1b1b1b;
}
nav > ul > li {
    text-align: center;
    margin: 50px 0px;
    font-family: 'Nunito Sans';
}
nav > ul > li > a {
    display: block;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.25em;
}
nav > ul img {
    width: 64px;
}
nav > ul span {
    visibility: hidden;
    opacity: 0;
    transition: .25s;
    font-weight: bold;
}
nav > ul > li:hover span {
    transition: .25s ease-out;
    visibility: visible;
    opacity: 1;
}
nav > ul > li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
nav > ul > li:hover:after {
    width: 80%;
    background: #00AE5B;
}

/* Classes and Ids */
.divider {
    margin: auto;
    display: block;
    height: 2px;
    background-color: #00AE5B;
    width: 10%;
}
