<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block head %}
        <title>{% block title %}The Online Resume of Tyler Conzett{% endblock %}</title>
        <link rel="stylesheet" href="/static/css/master.css">
        {% block style %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="pages">Contact</div>
            <div class="pages">Resume</div>
            <div class="pages">Education</div>
            <div class="pages">Bio</div>
        </nav>
    </body>
</html>
