<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block head %}
        <title>{% block title %}Tyler Conzett{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans|Slabo+27px">
        <link rel="stylesheet" href="/static/css/master.css">
        <link rel="stylesheet" href="/static/css/footerForm.css">
        {% block style %}{% endblock %}
        <script type="text/javascript" src="/static/js/master.js" async></script>
        {% block script %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/projects"><img src="static/images/Projects.png" alt="Projects">
                    <span>Projects</span></a></li>
                <li><a href="/about"><img src="static/images/About.png" alt="About">
                    <span>About</span></a></li>
                <li><a href="/static/pdfs/TylerConzettResume.pdf"><img src="static/images/Resume.png" alt="Resume">
                    <br><span>Resume</span></a></li>
                <li><a href="https://github.com/conzty01" target="_blank"><img src="static/images/GitHub-Mark-Light-64px.png" alt="GitHub">
                    <br><span>Github</span></a></li>
                <li><a href="https://www.linkedin.com/in/TylerConzett" target="_blank"><img src="static/images/In-White-66px-TM.png" alt="LinkedIn">
                    <br><span>LinkedIn</span></a></li>
            </ul>
        </nav>
        {% block container %}
        {% endblock %}
        <footer>
            <form class="form-style-7" action="https://formspree.io/conzty01@luther.edu" method="POST">
                <h1>Reach Out</h1>
                <span class="divider"></span>
                <h3>Have an idea in mind?  Want to collarborate? <br />
                    Like something you see? Send me a message!</h3>
                <div class="leftColumn">
                    <ul>
                        <li>
                            <label for="name">Name</label>
                            <input type="text" name="name" maxlength="100">
                        </li>
                        <li>
                            <label for="_replyto">Email</label>
                            <input type="email" name="_replyto" maxlength="100">
                        </li>
                        <li>
                            <label for="_subject">Subject</label>
                            <input type="text" name="_subject" maxlength="100">
                        </li>
                    </ul>
                </div>
                <div class="rightColumn">
                    <ul>
                        <li>
                            <label for="body">Message</label>
                            <textarea name="body" onkeyup="adjust_textarea(this)"></textarea>
                        </li>
                        <li>
                            <input type="submit" value="Send">
                        </li>
                    </ul>
                </div>
            </form>
        </footer>
    </body>
</html>
