{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="static/css/index.css">
{% endblock %}

{% block container %}
<nav>
    <ul>
        <li><a href="/projects"><img src="static/images/Projects.png" alt="Projects">
            <span>Projects</span></a></li>
        <li><a href="/about"><img src="static/images/About.png" alt="About">
            <span>About</span></a></li>
        <li><a href="https://github.com/conzty01" target="_blank"><img src="static/images/GitHub-Mark-Light-64px.png" alt="GitHub">
            <br><span>Github</span></a></li>
        <li><a href="https://www.linkedin.com/in/TylerConzett" target="_blank"><img src="static/images/In-White-66px-TM.png" alt="LinkedIn">
            <br><span>LinkedIn</span></a></li>
    </ul>
</nav>
<div class="titleCont">
    <div class="sigBox">
        <img src="static/images/Signature_500Web.png" alt="Tyler Conzett">
        <span class="divider" style="width:100%;"></span>
        <div>Please explore around or view my <a href="static/pdfs/TylerConzettResume.pdf" target="_blank">Resume</a>.</div>
    </div>
</div>

{% endblock %}
