{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="static/css/projects.css">
<link rel="stylesheet" href="static/css/showMore.css">
{% endblock %}

{% block container %}
<div class="projectContainer">
    <div class="preFix">
        <h1>My Projects</h1>
        <span class="divider" style="margin-left:0px;"></span>
        <p>Paper resumes can go so far in displaying my caliber of work, but it
            isn't until a person can touch and manipulate and even
            <span class="sniffle"></span> break my work. So take a peek at some
            of my stuff below and please play around and report any bugs you might
            find. Please be patient when loading the demos as the hosting platform
            I use puts my applications to sleep if they are inactive for too long.</p>
    </div>
    <div class="galleryCont">
        {% for entry in projectList: %}
        <div class="imageCont">
            <img class="largeImage" src="/static/images/{{entry['large_image']}}">
            <img class="medImage" src="/static/images/{{entry['med_image']}}">
            <img class="tinyImage" src="/static/images/{{entry['tiny_image']}}">
        </div>
        <div class="titleCont">
            <h2>{{entry['title']}}</h2>
            <div>
                {% if entry['github_link'] != None: %}
                <a href="{{entry['gitLink']}}" target="_blank">Code</a>
                {% endif %}
                {% if entry['demo_link'] != None: %}
                <a href="{{entry['demoLink']}}" target="_blank">Demo</a>
                {% endif %}
            </div>
        </div>
        <div class="imageCapt">
            <input type="checkbox" class="read-more-state" id="{{entry['strID']}}" />
            <p class="read-more-wrap">{{entry['main_desc']}}
            <br><br>
            {% if entry['more_desc'] != None: %}
            <span class="read-more-target">{{entry['more_desc']}}</span></p>

            <label for="{{entry['strID']}}" class="read-more-trigger"></label>
            {% else: %}
            </p>
            {% endif %}
        </div>

        <span class="divider" style="float:left;"></span>
        {% endfor %}

    </div>
</div>
{% endblock %}
